/* style.css */
body {
    margin: 0;
    overflow: hidden;
}

#container {
    position: relative;
    width: 50vw;
    height: 50vh;
    margin: auto;
}

canvas#renderer {
    width: 100%;
    height: 100%;
}

#controls {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}

label {
    margin-bottom: 5px;
    display: block;
}

input[type=range] {
    width: 200px;
}
