/* style.css */
body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
#container {
    flex: 1;
    /* width: 10%; */
    /* height: 20%; */
    /* position: absolute;  */
    top: 50%;
    left: 50%;
    /* 通过 translate 属性调整点云窗口的位置 */
    /* transform: translate(25%, 25%); */
}
#controls {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    /* position: absolute;
    top: 10px;
    left: 10px;
    z-index: 100; */
}
/* #controls { position: absolute; top: 10px; left: 10px; z-index: 100; background-color: rgba(255, 255, 255, 0.8); padding: 10px; border-radius: 5px; } */
label {
    margin: 5px 0;
}
input[type=range] {
    width: 200px;
}
