[EXP_SETTING]
id=EGformer_st3d

#### Dataset & Augmentation setting ####
root=data/Matterport3D
train_txt=data/Matterport3D_txt/all.txt
# val_txt=data/Matterport3D_txt/val.txt
# test_txt=data/Matterport3D_txt/test.txt
val_root=data/Stanford2D3D
val_txt=data/Stanford2D3D_txt/val.txt

unlabel_root=data/Structured3D
unlabel_train_txt=data/Structured3D_txt/all.txt

zero_shot_root=data/Stanford2D3D
zero_shot_txt=data/Stanford2D3D_txt/test.txt

median_align=True
dataset=mp3d
epochs=200
batch_size_train=2
batch_size_unlabel=2
batch_size_val=1
num_workers=4

disable_color_augmentation=True
disable_LR_filp_augmentation=True
disable_yaw_rotation_augmentation=True
brightness=0.8,1.2
contrast=0.8,1.2
saturation=0.8,1.2
hue=-0.1,0.1
need_cube=False

#### Pre-processing setting ####
h=512
w=1024
rgb_mean=0.485,0.456,0.406
rgb_std=0.229,0.224,0.225

#### Optimizer setting ####
optim=AdamW
lr=5e-5

#### Misc setting ####
seed=100
save_every=1
save_img_every=1
run_val_every=1
ckpt=ckpts/
log=logs/


############# Model section #############
[model_setting]
model_name=EGformer

[model_kwargs]
hybrid=False
#########################################